{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h1 class="titulo">
        Lista de Personas
    </h1>
    
{% endblock title %}
    

{% block content %}

    <div class="container">

        <img src="{% static 'personas/unsa.jpeg' %}" alt="logo unsa">
        <h1>Listado de personas</h1>
        
        {% for instance in object_list  %}
            <p>
                {{ instance.id }} -
                <a href='{{ instance.get_absolute_url }}'> {{ instance.nombres }}</a>
            </p>
            
        {% endfor %}
    </div>

{% endblock content %}
    