{% extends "base.html" %}
{% block content %}
    <p>Ahora estoy usando el tag block </p> 
    {{request.user}} 
    <hr>
    {{request.user.is_authenticated}}
    <h2>{{text}}</h2>
    <h2>{{number}}</h2>

    <div class="container">
        <h1>Probando el tag for</h3>
        <ul class="lista">  
            {% for item in lista %}
                <li>{{item}}</li>
            {% endfor %}
                
        </ul>
        <br>
        <h2>Probando forloop.counter con la lista anterior</h2>
        
        <ul class="lista">
            {% for item in lista %}
                <li> {{forloop.counter}} </li>
            {% endfor %}
        </ul>    

        <h2>Probando el tag if</h2>
        <ul class="lista">
            {% for item in lista %}
            
            {% if forloop.counter|divisibleby:2 %}
                <li> {{forloop.counter}} </li>
            {% endif %}
            {% endfor %}
        </ul> 

        <h2>Probando el filter length</h2>
        
        {% if text|length < 4 %}
            <p>El texto sobre paso los 4 caracteres</p>
        {% else %}
            <p>{{text}}</p>
        {% endif %}

        <h2>Probando mas filtros</h2>
        <h3> {{text|upper}} </h3>
        <h3>Contando la cantidad de palabras en la frase: {{text|wordcount}} </h3>
        <h3>Probado truncar: {{text|truncatewords_html:2}}</h3>
            
    </div>
    
{% endblock content %}